.filter-bar-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.filter-bar {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.filter-button-container {
    position: relative;
}

.filter-button-container .filter-button.blurred {
    filter: blur(2px);
    opacity: 0.7;
}

.filter-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #666;
    font-size: 12px;
    transition: color 0.3s ease;
}

.filter-button.active {
    color: #4AA201;
}

.filter-button span {
    margin-top: 5px;
}

.scroll-button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #666;
    z-index: 10;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}
